step_functions.asl.json
{
  "Comment": "AWS Step Functions state machine for amazonbestsellers",
  "StartAt": "Initialize Wait Count",
  "States": {
    "Initialize Wait Count": {
      "Type": "Pass",
      "Result": {
        "waitCount": 0
      },
      "ResultPath": "$",
      "Next": "Lambda Function amazonrapidapifull"
    },
    "Lambda Function amazonrapidapifull": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "amazonrapidapifull",
        "Payload": {}
      },
      "ResultPath": "$.lambdaResult",
      "Next": "Check Lambda Result",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Wait State"
        }
      ]
    },
    "Check Lambda Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lambdaResult.Payload.statusCode",
          "NumericEquals": 200,
          "Next": "Start Glue Job File Organizer"
        }
      ],
      "Default": "Wait State"
    },
    "Wait State": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "Increment Wait Count"
    },
    "Increment Wait Count": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "waitCount.$": "States.MathAdd($.waitCount, 1)",
        "lambdaResult.$": "$.lambdaResult"
      },
      "Next": "Check Wait Count"
    },
    "Check Wait Count": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.waitCount",
          "NumericLessThan": 3,
          "Next": "Lambda Function amazonrapidapifull"
        }
      ],
      "Default": "End Operation"
    },
    "Start Glue Job File Organizer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "glue-job-file-organizer"
      },
      "Next": "Wait After First Glue Job"
    },
    "Wait After First Glue Job": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "Lambda Function delete_temp_dir_data"
    },
    "Lambda Function delete_temp_dir_data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "delete_temp_dir_data",
        "Payload": {}
      },
      "Next": "Wait After Lambda delete_temp_dir_data"
    },
    "Wait After Lambda delete_temp_dir_data": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "Start Glue Job S3 to Redshift"
    },
    "Start Glue Job S3 to Redshift": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "glue-job-s3-to-redshift"
      },
      "End": true
    },
    "End Operation": {
      "Type": "Succeed",
      "Comment": "Workflow has ended after maximum retries or an error."
    }
  }
}